<!-- search_form.html -->
<form x-data="{ isOpen: false }" action="{% url 'search_specialists' %}" method="post" class="component-search_specialist_form my-container">
  {% csrf_token %}
  <div class="relative w-full md:w-1/2">
     <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
           <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
     </div>
     <input type="text" id="specialist-search" name="medical_specialty" class="form-input w-full" placeholder="Search specialist, Physician, Dental Therapist" required>
  </div>

  <div class="relative w-full md:w-1/2">
     <select id="city" name="city" class="form-select w-full" required>
        <option selected disabled>Choose a location</option>
        {% for city in cities %}
           <option value="{{ city.id }}">{{ city.name }}</option>
        {% endfor %}
     </select>
  </div>

  <button type="submit" class="btn-search w-full md:w-auto">Search
     <i class="material-symbols-outlined ml-2"></i>
  </button>
</form>