{% extends 'base.html' %} 
{% block content %}
<div class="border-b -mb-32 dark:border-gray-800">
    <div
      class="bg-radial from-gray-200 to-gray-50 dark:bg-gray-800 dark:from-gray-800 dark:to-gray-950/70"
    >
      <div
        class="bg-grid from-gray-200/60 to-gray-transparent dark:from-gray-900 dark:to-transparent"
      >
        {% component "navbar" %}
        <div class="container max-w-7xl mx-auto">
            <div class="pt-24 pb-32 px-4 mb-12">
              <div class="flex flex-row max-auto gap-4 justify-center">
                <div class="relative w-full md:w-1/4">
                    <p class="font-bold text-2xl">Filter search</p>
                 </div>

                 <div class="relative w-full md:w-1/4">
                    <select id="city" name="city" class="form-select w-full" required>
                       <option selected disabled>Choose a location</option>
                       {% for city in cities %}
                          <option value="{{ city.id }}">{{ city.name }}</option>
                       {% endfor %}
                    </select>
                 </div>
                 <div class="relative w-full md:w-1/4">
                    <select id="city" name="city" class="form-select w-full" required>
                       <option selected disabled>Choose a specialty</option>
                       {% for medical_specialty in medical_specialties %}
                          <option value="{{ medical_specialties.id }}">{{ medical_specialty.name }}</option>
                       {% endfor %}
                    </select>
                 </div>
              </div>

              
          </div>
            </div>
        </div>
        
      </div>
    </div>
  </div>
  {% component  "specialists_list" %}
  
{% endblock %}