[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-browser-reload = "*"
django-components = "*"
django-compressor = "*"
django-tailwind[reload]="*"

[dev-packages]

[requires]
python_version = "3.12"
