<div class="px-4">
  <div class="container mx-auto relative z-50">
    <div
      class="bg-white overflow-hidden outline outline-4 outline-gray-400/10 md:border md:rounded-lg dark:bg-gray-900 dark:text-gray-400 dark:border-gray-800 dark:outline-gray-700/50"
    >
    <div class="container mx-auto max-w-7xl">
      <div class="py-8 lg:py-8">
        <h2 class="font-medium max-w-3xl mb-4 mx-auto text-center text-xl text-gray-700 lg:text-2xl dark:text-white">
            Discover mental health facilities in Zimbabwe
        </h2>
    
        <p class="leading-loose max-w-3xl mx-auto text-center text-base lg:text-lg lg:leading-relaxed">
            Carefully crafted features &amp; components already included in the default application to make the Django admin shine
        </p>
    </div>

    </div>
</div>
  </div>
</div>
