<div class="component-footer">
  <footer class="bg-white dark:bg-gray-900">
    <div class="w-full max-w-screen-xl mx-auto">
      <div class="sm:flex sm:items-center sm:justify-between">
        <a
          href="https://flowbite.com/"
          class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
        >
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
            >MedSearch</span
          >
        </a>
        <ul
          class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
        >
          <li>
            <a href="#" class="hover:underline me-4 md:me-6 ">Find a Doctor</a>
          </li>
          <li>
            <a href="#" class="hover:underline me-4 md:me-6"
              >Find a health facility</a
            >
          </li>
          <li>
            <a href="#" class="hover:underline me-4 md:me-6">Privacy policy</a>
          </li>
          <li>
            <a href="#" class="hover:underline">Term of use</a>
          </li>
        </ul>
      </div>
      <hr
        class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
      />
      <span
        class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© 2024
        <a href="https://flowbite.com/" class="hover:underline">MedSearch</a>.
        All Rights Reserved.<br/> Third Party materials included herein protected
        under copyright law. Use of this website and any information contained
        herein is governed by the MedSearch User Agreement. The content on
        MedSearch does not provide medical advice. Always consult a medical
        provider for diagnosis and treatment.</span
      >
    </div>
  </footer>
</div>
